<configuration>
<dllmap dll="MonoPosixHelper" target="/home/user/rust_server/RustDedicated_Data/Managed/x86/libMonoPosixHelper.so" os="!windows,osx" wordsize="32" />
<dllmap dll="MonoPosixHelper" target="/home/user/rust_server/RustDedicated_Data/Managed/x64/libMonoPosixHelper.so" os="!windows,osx" wordsize="64" />
</configuration>